/*BetterDocs Notice Animation*/
html:after {
  content: "Do Not Use Betterdocs";
  background: black;
  border: 1px solid #ff7b00;
  left: 50%;
  border-radius: 5px;
  padding: 5px 15px;
  transform: translate(-50%, -100%);
  animation: Shitdocs 4s ease-in-out;
  text-align: center;
  position: absolute;
  top: 0;
  height: auto;
  width: auto;
  z-index: 9997;
  color: #ff7b00;
}

@keyframes Shitdocs {
  from, to {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  20%, 80% {
    transform: translate(-50%, 112%);
    opacity: 1;
  }
}
